<div>
    <img src="https://cdn.shopify.com/s/files/1/0268/6861/files/husky-siberiano-bosque_edaaae94-40fa-4d86-a905-4d9df2b63232_480x480.jpg?v=1635350551https://cdn.shopify.com/s/files/1/0268/6861/files/husky-siberiano-bosque_edaaae94-40fa-4d86-a905-4d9df2b63232_480x480.jpg?v=1635350551"></img>
    <img src="https://vitakraft.es/wp-content/uploads/2020/12/Blog_HistoriaPerros-1110x600.jpg"></img>
    <img src="https://www.nolodejesalazar.es/wp-content/uploads/sites/26/2022/06/small-dog-being-adorable-portrait-in-studio-scaled.jpg?w=1024"></img>
</div>